<div class="frontpage-grid-item frontpage-grid-item-right">
  <div class="cmscontent">
      <h1>{{title}}</h1>
      <p>
        <a href="/service/versandauktion" rel="nofollow" target="_blank">
          <img src="https://aurena.s3.eu-central-1.amazonaws.com/cms/public/versandauktion_aurena.png" alt="Auktionen mit Versand" width="280" style="margin-left: 10px; border-radius: 4px; width: 280px; margin-bottom: 15px" class="pattern-6-image-1 shadow">
        </a>
        <a href="/service/suchagent" rel="nofollow" target="_blank">
          <img src="https://aurena.s3.eu-central-1.amazonaws.com/cms/public/suchagent_auge_animation_desktop.gif" alt="Suchagent" width="280" style="margin-left: 10px; border-radius: 4px; width: 280px; margin-bottom: 15px" class="pattern-6-image-1 shadow">
        </a>
        <a href="/service/ueber-uns" rel="nofollow" target="_blank">
          <img src="https://aurena.s3.eu-central-1.amazonaws.com/cms/public/whatwedo_aurena_video_desktop1.png" alt="Zum Video: So funktioniert aurena.at" width="280" style="margin-left: 10px; border-radius: 4px; width: 280px; margin-bottom: 5px" class="shadow">
        </a>
      </p>
    </div>
  </div>