@media screen and(max-width: 1024px) {
    .pattern-6-image-1 {
         margin-right: 30px;
     }
}

@media screen and(min-width: 1024px) {
    .pattern-6-image-1 {
         margin-bottom: 30px;
         margin-top: 60px;
     }
}
h1 { color: green; font-size: 350%}